<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@9.0.3"></script>
<script src="{{ .Site.BaseURL }}/app.bundle.js"></script>
<script src="{{ .Site.BaseURL }}/js/vars.js?time={{ now.Unix }}"></script>
<script src="{{ .Site.BaseURL }}/js/functions.js?time={{ now.Unix }}"></script>
<script src="{{ .Site.BaseURL }}/js/auth.js?time={{ now.Unix }}"></script>
<script src="{{ .Site.BaseURL }}/js/setup.js?time={{ now.Unix }}"></script>
<script src="{{ .Site.BaseURL }}/js/default.js?time={{ now.Unix }}"></script>
<script src="{{ .Site.BaseURL }}/js/modules/menu.js?time={{ now.Unix }}"></script>
<script src="{{ .Site.BaseURL }}/js/notify.js?time={{ now.Unix }}"></script>